body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ede9fe;
}

button {
    background-color: #6d28d9;
    border-style: none;
    border-radius: 10px;
    padding: 7px 14px;
    color: #ede9fe;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: #8543ee;
}

button:active {
    background-color: #e879f9;
}

input {
    font-size: 20px;
    outline: none;
    border-style: none;
    border-radius: 8px;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid transparent;
}

input:focus {
    background-color: #e9d5ff;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 100vw;
    background-color: #6d28d9;
    margin-bottom: 32px;
    box-shadow: 0px 0px 7px 3px #e879f9;
}

.header > div {
    color: #e9d5ff;
    font-size: 56px;
    margin-left: 16px;
}

.header > div + div {
    font-size: 24px;
}

.bookshelf {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 16px;
    justify-content: center;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    border-radius: 8px;
    color: #ede9fe;
    font-size: 16px;
    font-weight: bold;
    background-color: #8b5cf6;
    width: 250px;
    height: 150px;
    box-shadow: 
        0px 0px 0px 2px white,
        0px 0px 0px 8px #c4b5fd;
    }

.book-upper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.book-lower {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}

[data-modal-target] {
    width: 100px;
    padding: 8px;
    margin: 16px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 16px;
    z-index: 10;
    border: 4px solid #e9d5ff;
    background-color: #8b5cf6;
    color: #ede9fe;
    font-size: 16px;
    font-weight: bold;
    width: 350px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
    background-color: #c084fc;
    border-radius: 12px 12px 0px 0px;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    gap: 8px;
}

#overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(195, 180, 253, 0.5);
    opacity: 0;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}
